.custom-select-container {
    position: absolute;
    right: 0;
    width: 96px;
    z-index: 100;
}

.custom-select {
    background: rgba(72, 72, 163, 0.481);
    border: none;
    padding: 4px;
    cursor: pointer;
    position: relative;
    border-radius: 16px;
}
.custom-select.open {
    border-radius: 16px 16px 0 0;
}

.custom-select .arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s;
}

.custom-select .arrow.open {
    transform: translateY(-50%) rotate(180deg);
}

.custom-select-options {
    position: absolute;
    width: 100%;
    background: rgb(44, 44, 100);
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 10;
    border-radius: 0 0 16px 16px;
}

.custom-select-option, .custom-select {
    padding: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.custom-select-option:hover {
    background: #f0f0f0;
}
.down-icon {
    fill: white;
    width: 12px;
    height: 12px;
}