/* Cleaned App.css */
body,
html {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: black;
}

.Home, .Swap {
  background: rgb(14, 13, 36);
  text-align: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.Swap {
  justify-content: space-evenly;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
}

.header-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin: 0 8px;
}

.header-icon-button {
  background-color: rgba(52, 51, 136, 0.5);
  backdrop-filter: blur(5px);
}

.header-icon-svg {
  fill: white;
  width: 24px;
  height: 24px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1;
}

h2 {
  margin: 0;
}

p {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}

button {
  background: linear-gradient(to bottom, #FF9502 0%, #FF4C03 100%);
  border: none;
  padding: 10px 20px;
  border-radius: 32px;
  width: 100px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.pulse-orange-button {
  animation: pulse-orange 2s infinite;
}

@keyframes pulse-orange {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 149, 2, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}

.BackgroundImage0 {
  background-image: url('https://bot.ethernity.game/new-bg.jpg');
}

.bg-blur {
  background-color: #12122cd5;
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.nft-page {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.nft-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
  width: 100%;
  max-width: calc(100% - 16px);
}

.nft-card {
  width: calc(50% - 8px);
  min-height: 256px;
  box-sizing: border-box;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  border-radius: 8px;
  position: relative;
  width: auto;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip-card-front {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity 0.8s;
}

.flip-card.flipped .flip-card-front {
  opacity: 0;
}

.flip-card-back {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  transform: rotateY(180deg);
}

.nft-attributes-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nft-attributes {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  text-align: left;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
}

.nft-attributes p {
  font-size: 12px;
  line-height: 14px;
  width: auto;
  margin: 2px 0;
}

.nft-attributes p:first-child {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}

.flip-card-inner.legendary {
  border: 2px solid #FF9502;
  box-shadow: 0 0 4px #FF9502;
}

.flip-card-inner.mythical {
  border: 2px solid #FF4C03;
  box-shadow: 0 0 4px #FF4C03;
}

.flip-card-inner.epic {
  border: 2px solid rgba(88, 85, 214, 1);
  box-shadow: 0 0 4px rgba(88, 85, 214, 1);
}

.flip-card-inner.rare {
  border: 2px solid #007AFF;
  box-shadow: 0 0 4px #007AFF;
}

.flip-card-inner.uncommon {
  border: 2px solid #4cd964;
  box-shadow: 0 0 4px #4cd964;
}

.flip-card-inner.unknown {
  border: 2px solid #ccc;
  box-shadow: 0 0 4px #ccc;
}

.nft-card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
}

.nft-card-header p {
  font-size: 12px;
  backdrop-filter: blur(5px);
  padding: 2px 4px;
  border-radius: 4px;
  margin: auto;
}

.sell-opensea,
.burn-nft {
  width: 24px;
  height: 24px;
  margin: 4px;
  background: #FF4C03;
  backdrop-filter: blur(5px);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.sell-opensea-blank {
  width: 24px;
  height: 24px;
}

.nft-button-use {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 100%;
  background: linear-gradient(360deg, rgb(42, 41, 96) 0%, #38378A 100%);
  padding: 8px 0;
}

.nft-button-use.equipped {
  background: linear-gradient(to bottom, #FF9502 0%, #FF4C03 100%);
}

.nft-card-body {
  width: 100%;
}

.nft-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}

.nft-info p {
  font-size: 10px;
  backdrop-filter: blur(5px);
  padding: 2px;
  border-radius: 4px;
}

.nft-card.no-overflow {
  position: relative;
  overflow: visible;
}

.nft-card-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: calc(100% + 4px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 4px solid rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: 100;
  border-radius: 8px;
}

.nft-help-container {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 51, 136, 0.5);
  margin: 8px;
  margin-bottom: 64px;
  padding: 16px 0;
  border-radius: 8px;
}

.nft-help-container-text {
  text-align: left;
}

.nft-help-container p {
  font-size: 14px;
  display: inline-block;
}

.nft-help-container h2 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
}

.time-counter {
  font-size: 16px;
}

.time-counter>span {
  display: inline-block;
  margin: 0 2px;
}
.glow-text {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}
@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}



.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  max-width: 100%;
}

.popup-content {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  height: 50%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  position: relative;
}

.popup-content button:nth-child(1) {
  margin-right: 8px;
}
.popup-content button:nth-child(2) {
      background: linear-gradient(180deg,
            rgba(88, 85, 214, 1) 0%,
            #38378A 100%);
}

.popup-content input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background-color: rgba(52, 51, 136, 0);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.popup-content-message {
  word-wrap: break-word;
  max-width: calc(100% - 16px);
}

.popup-close-icon {
  fill: white;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
}
.mint-header {
  max-width: calc(100% - 16px);
  background-color: rgba(52, 51, 136, 0.5);
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mint-header-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 8px;

}
.mint-header-icons>.mint-header-icon:nth-child(2) .mint-header-icon-svg {
  /* Your styles here */
  transform: rotate(45deg);
  /* Example style */
}
.mint-header-icon-svg {
  fill: white;
  width: 20px;
  height: 20px;
}
.mint-header-icon-svg-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    width: 20px;
    height: 20px;
    padding: 8px;
    background: linear-gradient(180deg,
        #FF9502,
        #FF4C03);
        border-radius: 32px;
        
}
.mint-header-wallet-address {
  background-color: rgb(44, 44, 100);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  padding: 4px 8px;
  border-radius: 16px;
}
.mint-header-icon p {
  font-size: 12px;

}
.mint-header-icon.inactive {
  opacity: 0.5;
}
.header-network {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.header-network img {
  width: 12px;
  height: 12px;
}
.header-network p {
  font-size: 12px;
}
.base-logo {
  width: 16px;
  height: 16px;
}
.mint-header-wallet-address p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.copy-icon {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  fill: white;
}
.copy-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copy-popup p { 
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lds-ripple {
  /* change color here */
  color: #fff
}

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.loading-overlay {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.orange {
  color: #FF9502;
}
.wallet-address {
  font-size: 10px;
}
.moonpay-widget-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  /* Allows horizontal scrolling if content exceeds width */
  box-sizing: border-box;
  /* Ensures padding and border are included in the element's total width and height */
}

.moonpay-widget {
  margin: 0 !important;
  width: 100%;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  /* Ensures padding and border are included in the element's total width and height */
}

.switch-button {
    background: #38378a;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: -20px;
    
}
.switch-button-icon {
  width: 16px;
  height: 16px;
  fill: white;
  transform: rotate(90deg);
}
.swap-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #38378a67;
  padding: 4px;
  border-radius: 16px;
}

.swap-widget-label {
  font-size: 12px;
  text-align: left;
  width: 100%;
}
.swap-button {
  width: 100%;
  margin-top: 8px;
}
.swap-widget-footer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #38378a78;
  border-radius: 16px;
}
.swap-widget-header {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swap-rate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 4px;
}
.swap-rate p {
  font-size: 12px;
  color: #ccc;
}
.info-icon {
  fill: #ccc;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
.swap-input-field {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  background: none;
  border: none;
  color: #fff;
  padding: 0;
}
.swap-input-field::placeholder {
  color: #ccc;
}
.swap-input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swap-input select {
  position: absolute;
  right: 0;
}